doctype
html(lang="en")
head
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(charset="UTF-8")
	title Template
body
	//- HEADER
	section.header
		div.container
			div.header__block
				div.header__nav
					div.header__nav-left
						div
							a(href="#") Home
					div.header__nav-hamburger
						div.header__nav-hamburger-inner
							a(href="#") &#9776;
					div.header__nav-right
						div.header__nav-right-inner
							div
								a(href="#") Blog
							div
								a(href="#") About us
							div
								a(href="#") Team
							div
								a(href="#") Contact us
				div.header__info
					div.header__info-left
						div.header__title
							h1 Teamwork is key
						div.header__text
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
						div.header__buttons
							div
								button Learn More
							div
								button Get started
					div.header__info-right
						div.header__img
							img(src="img/header-img.png", alt="")
				div.header__social
					div
						a(href="#")
							img(src="img/linkedin-icon.png", alt="")
					div
						a(href="#")
							img(src="img/facebook-icon.png", alt="")
					div
						a(href="#")
							img(src="img/twitter-icon.png", alt="")
					div
						a(href="#")
							img(src="img/pinterest-icon.png", alt="")
	//- HEADER

	script(type="text/javascript", src="js/jquery.min.js")